.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  margin-left: var(--gap-default);
  margin-right: var(--gap-default);
}

.sectionHeader {
  margin-bottom: var(--gap-default);
  margin-left: var(--gap-default);
  margin-right: var(--gap-default);
  text-align: center;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-default);

  @media (min-width: 768px) {
    flex-direction: row;
    gap: calc(2 * var(--gap-default));
  }
}

.sectionSvg {
  aspect-ratio: 4 / 3;
  width: clamp(200px, 70vw, 800px);
  max-height: 80vh;
  border: 1px solid white;
  color: inherit;
  position: relative;
  z-index: 2;
  background-color: inherit;

  @media (min-width: 768px) {
    width: 50vw;
  }
}

.sectionExposition {
  font-size: 1.5rem;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;

  @media (min-width: 768px) {
    height: 200px;
  }

  [data-paragraph] {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
}
