.changeArea {
  margin-top: calc(4 * var(--gap-default));
  display: flex;
  flex-direction: column;
}


.changeSection {
  display: flex;
  flex-direction: row;
  --caption-background: var(--primary);

  &:nth-child(even) {
    --caption-background: oklch(from var(--primary) calc(l * 0.5) c h);
  }
}

.changeCaption {
  font-size: 2rem;
  background-color: var(--caption-background);
  color: var(--primary-text);
  text-align: right;
  width: 55%;
  flex-shrink: 0;
  padding: var(--gap-default);
  padding-right: calc(3 * var(--gap-default));
  clip-path:
    polygon(
      0 0,
      calc(100% - 2 * var(--gap-default)) 0,
      100% 50%,
      calc(100% - 2 * var(--gap-default)) 100%,
      0 100%
    );
}

.changeBody {
  padding: var(--gap-default);
  padding-left: calc(2 * var(--gap-default));
  display: flex;
  align-items: center;
}
